#piano {
	width: 800px;
	height: 500px;
	background: grey;
	position: relative;
}
.keyRow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.blackKeyGroup {
	display: flex;
	flex-direction: row;
	width: 300px;
	position: absolute;
	left: 75px;
	z-index: 10;
}

